<div *ngIf="bookingDetail">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><b>Your current ride</b></h4>
    </div>
    <br><br>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
              <h5 class="m-t-0"><img src="assets/images/vehicles/{{bookingDetail.vehicleImage}}" [alt]="bookingDetail.vehicleImage"
                  style="width:200px;height:200px;">
              </h5>
            </div>
            <div class="col-lg-offset-6  col-md-offset-6 col-sm-offset-6 mt-5">
              <span class="pull-right"><span class="small">Booking Date:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.rideDate | date:'medium'}}</span>
              <br>
              <span class="pull-right"><span class="small">Ride Category:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.vehicleCategoryType}}</span>
              <br>
              <span class="pull-right"><span class="small">From Location:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.fromLocation | uppercase}}</span>
              <br>
              <span class="pull-right"><span class="small">To Location:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.toLocation | uppercase}}</span>
              <br>
              <span class="pull-left"><span class="small">Driver name:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.rideAcceptedByUser}}</span>
              <br>
              <span class="pull-left"><span class="small">Vehicle number:</span>&nbsp;&nbsp;&nbsp;{{bookingDetail.vehicleNumber | uppercase}}</span>
            </div>
          </div>
          <hr>
          <div class="form-group m-b-0 text-right">
            <button type="button" class="btn btn-danger waves-effect waves-light mr-1" (click)="cancelRide(bookingDetail.id)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-5 align-self-center">
    <h4 class="page-title"><b>Book a ride</b></h4>
  </div>
  <br><br>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="row">
        <div class="col-9">
          <div class="card">
            <form class="form-horizontal mt-2" [formGroup]="bookingForm" (ngSubmit)="bookRide()">
              <div class="card-body">
                <div class="form-group row">
                  <label for="fromLocation" class="col-sm-3 text-right control-label col-form-label">From
                    Location</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control text-uppercase" id="fromLocation" name="fromLocation"
                      autocomplete="off" maxlength="20" formControlName="fromLocation"
                      [class.is-invalid]="BookingForm['fromLocation'].touched && BookingForm['fromLocation'].invalid">
                    <div class="invalid-feedback"
                      *ngIf="BookingForm['fromLocation'].touched && BookingForm['fromLocation'].errors?.required">
                      From Location is required</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="vehicleNumber" class="col-sm-3 text-right control-label col-form-label">To
                    Location</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control text-uppercase" name="toLocation" id="toLocation"
                      autocomplete="off" maxlength="20" formControlName="toLocation"
                      [class.is-invalid]="BookingForm['toLocation'].touched && BookingForm['toLocation'].invalid">
                    <div class="invalid-feedback"
                      *ngIf="BookingForm['toLocation'].touched && BookingForm['toLocation'].errors?.required">
                      From Location is required</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="com12" class="col-sm-3 text-right control-label col-form-label">Vehicle Category</label>
                  <div class="col-sm-9">
                    <select type="text" class="form-control" name="vehicleCategoryId"
                      formControlName="vehicleCategoryId"
                      (change)="onCategoryTypeChange(+BookingForm['vehicleCategoryId'].value)"
                      [class.is-invalid]="BookingForm['vehicleCategoryId'].touched && BookingForm['vehicleCategoryId'].invalid">
                      <option [ngValue]="null">select</option>
                      <option *ngFor="let category of vehicleCategories" [value]="category.vehicleCategoryId">
                        {{category.vehicleCategoryType}}</option>
                    </select>
                    <div class="invalid-feedback"
                      *ngIf="BookingForm['vehicleCategoryId'].touched && BookingForm['vehicleCategoryId'].errors?.required">
                      Please select a category</div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-body">
                <div class="form-group m-b-0 text-right">
                  <button type="submit" class="btn btn-success waves-effect waves-light mr-1"
                    [disabled]="bookingForm.invalid">Book</button>
                  <button type="button" class="btn btn-secondary waves-effect waves-light mr-1"
                    (click)="clearForm()">Clear</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div>
          <img src="assets/images/vehicles/{{vehicleImage}}" [alt]="vehicleImage" *ngIf="vehicleImage">
        </div>
      </div>
    </div>
  </div>
</div>