/* You can add global styles to this file, and also import other style files */
.auth-wrapper .auth-box {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: 10% 0;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.auth-wrapper .auth-box,
.customizer,
.left-sidebar {
  box-shadow: 1px 0 20px rgba(0, 0, 0, .08);
}

.col-form-label {
  font-weight: bold;
}

body { 
  
  background:darkslategrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button{
  background:darkslategrey;
}
