<div>
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><b>Here is the summary of your rides!</b></h4>
    </div>
    <br><br>
  </div>
  <hr>
  <div *ngIf="bookingDetails">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Ride</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bookingDetail of bookingDetails">
          <td><img [alt]="bookingDetail.vehicleImage" class="rounded-circle"
              src="assets/images/vehicles/{{bookingDetail.vehicleImage}}" width="40"></td>
          <td>{{ bookingDetail.rideDate | date:'medium' }}</td>
          <td>{{ bookingDetail.fromLocation | uppercase }}</td>
          <td>{{ bookingDetail.toLocation | uppercase }}</td>
          <td>{{ bookingDetail.rideByUser }}</td>
          <td>{{ bookingDetail.isRideCancelled ? 'Cancelled' :  bookingDetail.isRideCompleted ? 'Completed': 'Ongoing' }}</td>
          <td><button class="btn btn-success" *ngIf="!bookingDetail.isRideCancelled && !bookingDetail.isRideCompleted" (click)="completeRide(bookingDetail.id)">Complete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!bookingDetails || bookingDetails.length == 0">
    You have no past rides
  </div>
</div>